.heading_main   {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading_text   {
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
   color: #000;

}

.heading_text h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 0rem;
    color: #240D57;
    margin: 0;
    line-height: 36px;
    text-align: center;
}

.snapchat {
    font-size: 36px;
    font-weight: 700;
    line-height: 0rem;
    background: linear-gradient(90deg, #8456EC 24.2%, #E87BF8 120.46%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

    margin: 0;
    line-height: 36px;
    text-align: center;
}

.heading_text p {
    font-size: 16px;
    width: 80%;
    font-weight: 300;
    line-height: 0rem;
    color: #4F4F4F;
    margin: 20px 0;
    line-height:15px;
    text-align: center;
}