body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #DDDDDD;
  font-family: "Helvetica", sans-serif;
}

.main-page {
  height: 83vh;
  width: 95vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}